## **IMDB Movie Dataset**

In [179]:
import pandas as pd

In [180]:
DATASET_PATH = 'data/2.1-ex-IMDB-Movie-Data.csv'
df = pd.read_csv(DATASET_PATH)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## **Information**

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [182]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [183]:
df.loc[df.isnull().any(axis=1)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [184]:
df.dropna()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [185]:
df.fillna(300)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,300.00,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,300.00,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

#### **Select**

In [186]:
filtered_movies = df.loc[
    (df['Year'].between(2012, 2014)) & 
    (df['Revenue (Millions)'] > df['Revenue (Millions)'].quantile(0.65))
]

final_movie_list = filtered_movies[
    filtered_movies['Director'].isin(
        filtered_movies['Director'].value_counts().loc[lambda x: x >= 2].index
    )
].copy()

final_movie_list

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
253,254,The Amazing Spider-Man 2,"Action,Adventure,Sci-Fi","When New York is put under siege by Oscorp, it...",Marc Webb,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ...",2014,142,6.7,342183,202.85,53.0
271,272,The Hobbit: An Unexpected Journey,"Adventure,Fantasy","A reluctant hobbit, Bilbo Baggins, sets out to...",Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armitage...",2012,169,7.9,668651,303.00,58.0
272,273,21 Jump Street,"Action,Comedy,Crime",A pair of underachieving cops are sent back to...,Phil Lord,"Jonah Hill, Channing Tatum, Ice Cube,Brie Larson",2012,110,7.2,432046,138.45,69.0
276,277,22 Jump Street,"Action,Comedy,Crime",After making their way through high school (tw...,Phil Lord,"Channing Tatum, Jonah Hill, Ice Cube,Nick Offe...",2014,112,7.1,280110,191.62,71.0
300,301,The Equalizer,"Action,Crime,Thriller",A man believes he has put his mysterious past ...,Antoine Fuqua,"Denzel Washington, Marton Csokas, Chloë Grace ...",2014,132,7.2,249425,101.53,57.0
313,314,The Hobbit: The Battle of the Five Armies,"Adventure,Fantasy",Bilbo and Company are forced to engage in a wa...,Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2014,144,7.4,385598,255.11,59.0
336,337,Silver Linings Playbook,"Comedy,Drama,Romance","After a stint in a mental institution, former ...",David O. Russell,"Bradley Cooper, Jennifer Lawrence, Robert De N...",2012,122,7.8,564364,132.09,81.0
347,348,American Hustle,"Crime,Drama","A con man, Irving Rosenfeld, along with his se...",David O. Russell,"Christian Bale, Amy Adams, Bradley Cooper,Jenn...",2013,138,7.3,379088,150.12,90.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
384,385,The Lego Movie,"Animation,Action,Adventure","An ordinary Lego construction worker, thought ...",Phil Lord,"Chris Pratt, Will Ferrell, Elizabeth Banks, Wi...",2014,100,7.8,266508,257.76,83.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
518,519,The Hobbit: The Desolation of Smaug,"Adventure,Fantasy","The dwarves, along with Bilbo Baggins and Gand...",Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2013,161,7.9,513744,258.36,66.0
578,579,The Hunger Games: Catching Fire,"Action,Adventure,Mystery",Katniss Everdeen and Peeta Mellark become targ...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2013,146,7.6,525646,424.65,76.0
657,658,Teenage Mutant Ninja Turtles,"Action,Adventure,Comedy","When a kingpin threatens New York City, a grou...",Jonathan Liebesman,"Megan Fox, Will Arnett, William Fichtner, Noel...",2014,101,5.9,178527,190.87,31.0
680,681,The Hunger Games: Mockingjay - Part 1,"Action,Adventure,Sci-Fi",Katniss Everdeen is in District 13 after she s...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2014,123,6.7,331902,337.10,64.0
879,880,Wrath of the Titans,"Action,Adventure,Fantasy",Perseus braves the treacherous underworld to r...,Jonathan Liebesman,"Sam Worthington, Liam Neeson, Rosamund Pike, R...",2012,99,5.8,159230,83.64,37.0

#### **Groupby**

In [187]:
final_movie_list['Num of movies']   = final_movie_list.groupby('Director')['Director'].transform('count')
final_movie_list['Rating category'] = final_movie_list.groupby('Director')['Rating'].transform('mean').apply(lambda x: 'Good' if x >= 8 else 'Bad')
final_movie_list

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Num of movies,Rating category
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,2,Good
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,2,Good
253,254,The Amazing Spider-Man 2,"Action,Adventure,Sci-Fi","When New York is put under siege by Oscorp, it...",Marc Webb,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ...",2014,142,6.7,342183,202.85,53.0,2,Bad
271,272,The Hobbit: An Unexpected Journey,"Adventure,Fantasy","A reluctant hobbit, Bilbo Baggins, sets out to...",Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armitage...",2012,169,7.9,668651,303.00,58.0,3,Bad
272,273,21 Jump Street,"Action,Comedy,Crime",A pair of underachieving cops are sent back to...,Phil Lord,"Jonah Hill, Channing Tatum, Ice Cube,Brie Larson",2012,110,7.2,432046,138.45,69.0,3,Bad
276,277,22 Jump Street,"Action,Comedy,Crime",After making their way through high school (tw...,Phil Lord,"Channing Tatum, Jonah Hill, Ice Cube,Nick Offe...",2014,112,7.1,280110,191.62,71.0,3,Bad
300,301,The Equalizer,"Action,Crime,Thriller",A man believes he has put his mysterious past ...,Antoine Fuqua,"Denzel Washington, Marton Csokas, Chloë Grace ...",2014,132,7.2,249425,101.53,57.0,2,Bad
313,314,The Hobbit: The Battle of the Five Armies,"Adventure,Fantasy",Bilbo and Company are forced to engage in a wa...,Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2014,144,7.4,385598,255.11,59.0,3,Bad
336,337,Silver Linings Playbook,"Comedy,Drama,Romance","After a stint in a mental institution, former ...",David O. Russell,"Bradley Cooper, Jennifer Lawrence, Robert De N...",2012,122,7.8,564364,132.09,81.0,2,Bad
347,348,American Hustle,"Crime,Drama","A con man, Irving Rosenfeld, along with his se...",David O. Russell,"Christian Bale, Amy Adams, Bradley Cooper,Jenn...",2013,138,7.3,379088,150.12,90.0,2,Bad
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0,2,Bad
384,385,The Lego Movie,"Animation,Action,Adventure","An ordinary Lego construction worker, thought ...",Phil Lord,"Chris Pratt, Will Ferrell, Elizabeth Banks, Wi...",2014,100,7.8,266508,257.76,83.0,3,Bad
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0,2,Bad
518,519,The Hobbit: The Desolation of Smaug,"Adventure,Fantasy","The dwarves, along with Bilbo Baggins and Gand...",Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2013,161,7.9,513744,258.36,66.0,3,Bad
578,579,The Hunger Games: Catching Fire,"Action,Adventure,Mystery",Katniss Everdeen and Peeta Mellark become targ...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2013,146,7.6,525646,424.65,76.0,2,Bad
657,658,Teenage Mutant Ninja Turtles,"Action,Adventure,Comedy","When a kingpin threatens New York City, a grou...",Jonathan Liebesman,"Megan Fox, Will Arnett, William Fichtner, Noel...",2014,101,5.9,178527,190.87,31.0,2,Bad
680,681,The Hunger Games: Mockingjay - Part 1,"Action,Adventure,Sci-Fi",Katniss Everdeen is in District 13 after she s...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2014,123,6.7,331902,337.10,64.0,2,Bad
879,880,Wrath of the Titans,"Action,Adventure,Fantasy",Perseus braves the treacherous underworld to r...,Jonathan Liebesman,"Sam Worthington, Liam Neeson, Rosamund Pike, R...",2012,99,5.8,159230,83.64,37.0,2,Bad

In [188]:
groupby_num_movies_directors = final_movie_list.groupby(['Rating category', 'Num of movies', 'Director']).agg({
    'Revenue (Millions)': lambda x: round(x.mean(), 2),
    'Rating': ['max', 'min']
})

sorted_groupby = groupby_num_movies_directors.sort_values(
    by=['Rating category', 'Num of movies', ('Revenue (Millions)', '<lambda>')],
    ascending=[1, 1, 0] 
)

sorted_groupby

                                                 Revenue (Millions) Rating  \
                                                           <lambda>    max
Rating category Num of movies Director
Bad             2             Francis Lawrence               380.88    7.6
                              Marc Webb                      232.44    7.0
                              David O. Russell               141.11    7.8
                              Jonathan Liebesman             137.26    5.9
                              Antoine Fuqua                  100.22    7.2
                3             Peter Jackson                  272.16    7.9
                              Phil Lord                      195.94    7.8
Good            2             Christopher Nolan              318.06    8.6


                                                  min
Rating category Num of movies Director
Bad             2             Francis Lawrence    6.7
                              Marc Webb           6.7
                              David O. Russell    7.3
                              Jonathan Liebesman  5.8
                              Antoine Fuqua       6.5
                3             Peter Jackson       7.4
                              Phil Lord           7.1
Good            2             Christopher Nolan   8.5